<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test_project">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBrA4fxIyjJRPZnA8wo86Xg1hLWdA85OM4"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>
